/* Variáveis globais */
:root {
    --background-dark: #333;
    --background-light: #e0e0e0;
    --text-light: #DADADB;
    --text-dark: #444444;
    --accent-color: var(--main-color);
}

/* Estilo global */
body {
    background-color: #dfdfdf;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Header e Footer ocupando a tela inteira */
header, footer {
    width: 100%;
    background-color: var(--background-dark);
    color: var(--text-light);
    padding: 20px 0;
}

/* Centralizando conteúdo em contêineres */
.header-container, .footer-container, .post-list, .post {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    margin-top: 20px;
    padding-bottom: 50px;
}

/* Footer específico */
footer {
    font-size: x-small;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

/* Navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Artigos */
article {
    margin: 30px 0 80px;
}

footer a {
    color: var(--accent-color);
}

#site-name {
    text-decoration: none;
    background-color: var(--background-dark);
    padding: 10px;
    text-align: left;
}

#site-name a {
    color: var(--accent-color);
}

#site-name p {
    font-family: 'Poppins', sans-serif;
    margin-top: -20px;
    font-size: small;
    color: var(--text-light);
}

/* Estilos para postagens */
.post-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: var(--background-light);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.post-box h2 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.post-box h2 a {
    color: var(--text-dark);
}

.post-meta {
    font-size: 0.9rem;
    color: #5e5e5e;
    margin-bottom: 15px;
}

.author-name {
    color: var(--accent-color);
    margin-right: 30px;
}

/* Cabeçalhos de artigo */
.article-header {
    background-color: transparent;
}

.article-header p {
    font-size: 0.8rem;
    color: #7e7e7e;
}

.article-header h1 {
    font-size: xx-large;
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
    line-height: 1.1em;
    margin: -5px 0 5px;
}

/* Conteúdo */
.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--text-dark);
    line-height: 1.2em;
    padding: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    margin-bottom: 30px;
}

.content h2 {
    line-height: 1.1em;
}

.related-posts h2 {
    font-family: 'Poppins', sans-serif;
    color: #5e5e5e;
    margin-top: 30px;
    font-size: large;
}

/* Botão de voltar ao topo */
#btnTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 99;
    font-size: 25px;
    background-color: var(--background-dark);
    color: var(--accent-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}

#btnTop:hover {
    background-color: #4d4d4d;
}

/* Paginação */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: white;
    background-color: #007acc;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.pagination a:hover {
    background-color: #005fa3;
}

.pagination .previous {
    margin-right: 10px;
}

.pagination .next {
    margin-left: 10px;
}
